.footer{
    padding: 20px 0px;
    background: $bgprimary;
    p{
        color: $text;
        font-size: 14px;
    }
    &-brand{
        margin-top: -10%;
        h5{
            font-size: 2.5em;
            span{
                color: $primary;
            }
        }
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        a{
            text-decoration: none;
            color: $text;
        }
        li{
            color: $text;
            padding: 5px 0px;
            font-size: 14px;
        }
    }
    &-sosmed{
        .sosmed-icon{
            font-size: 24px;
            padding: 0 5px;
        }
        .sosmed-wrap{
            a{
                text-decoration: none;
                color: $text;
            }
        }
    }
}

.subscribe{
    background: $primary;

    &-left{
        color: white;

        .paper-icon{
            font-size: 64px;
            padding: 5px 20px 5px 0;
        }
    }
}

.customer{
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 9;
    font-size: 48px;
    color: #25d366;
    cursor: pointer;
}