.form{
    p{
        font-size: 12px;
        a{
            color: $primary;
            font-weight: 500;
        }
    }
    &-group{
        margin-bottom: 10px;
        label{
            display: block;
            margin-bottom: 10px;
        }
        
        .form-control{
            padding: 10px;
            box-sizing: border-box;
            width: 100%;
            border: 0.5px solid $bgprimary;

            &:focus{
                outline: none;
            }
        }

        .form-icons{
            position: relative;
            .icon-control{
                position: absolute;
                top: 20%;
                left: 5%;
            }
        }

        .form-subscribe{
            position: relative;
            .subscribe-control{
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px 10px;
                background: #9b5822;
                h5{
                    color: $netral
                }
            }
        }
    }
    &-wrap{
        padding: 50px;
        box-sizing: border-box;

    }

    button{
        background: none;
        border: 0.5px solid $bgprimary;
        color: $text;
        cursor: pointer;
        a{
            color: $text;
        }
    }

    .button-member{
        background: $primary;
        color: white;

        &:hover{
            background: #cc5d03;
        }
    }
}
