$width:1200;
$column:12;

.container{
    max-width: $width * 1px;
    width: 90%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

@for $j from 1 through $column{
    .col#{$j}{
        width: calc((100% / ($column / $j)) - 3%);
        margin: 1.5%;
    }
}

.ai-center{ align-items: center; }
.jc-sbetween{ justify-content: space-between; }
.jc-center{
    justify-content: center;
}
.d-flex{ display: flex; }
.d-none{ display: none; }
.text-center{ text-align: center; }

@media  screen and (max-width:1000px) {
    @for $j from 1 through $column{
        .col#{$j}-desktop{
            width: calc((100% / ($column / $j)) - 3%);
            margin: 1.5%;
        }
    }

}
@media  screen and (max-width:980px) {
    @for $j from 1 through $column{
        .col#{$j}-medium{
            width: calc((100% / ($column / $j)) - 3%);
            margin: 1.5%;
        }
    }

    .md-block{
        display: block;
    }
}
@media  screen and (max-width:880px) {
    @for $j from 1 through $column{
        .col#{$j}-tablet{
            width: calc((100% / ($column / $j)) - 3%);
            margin: 1.5%;
        }

        .tab-flex{
            display: unset;
        }
        .tab-block{
            display: block;
        }
    }
}
@media  screen and (max-width:730px) {
    @for $j from 1 through $column{
        .col#{$j}-landscape{
            width: calc((100% / ($column / $j)) - 3%);
            margin: 1.5%;
        }

        .land-reverse{
            flex-direction: column-reverse;
        }
    }
}
@media  screen and (max-width:650px) {
    @for $j from 1 through $column{
        .col#{$j}-mobileBig{
            width: calc((100% / ($column / $j)) - 3%);
            margin: 1.5%;
        }
    }

}

@media  screen and (max-width:470px) {
    @for $j from 1 through $column{
        .col#{$j}-mobile{
            width: calc((100% / ($column / $j)) - 3%);
            margin: 1.5%;
        }
    }

}

@media  screen and (max-width:400px) {
    @for $j from 1 through $column{
        .col#{$j}-small{
            width: calc((100% / ($column / $j)) - 3%);
            margin: 1.5%;
        }
    }

}
