.img-responsive{
    width: 100%;
}
.img-medium{ width: 80%; }
.img-64{ width: 64px; }
.img-32{ width: 32px; }
.img-24{ width: 24px; }
.img-16{ width: 16px; }
.img-avatar{
    width: 50px;
    border-radius: 50%;
}
.img-profile{
    width: 75px;
    border-radius: 50%;
}

.banner-image{
    margin: 0 1.5%;
}